html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
    scrollbar-color: #07144d white;
    scrollbar-gutter: stable both-edges;
}

.__next {
    min-height: 100vh;
}

body {

    padding: 64px 0 0 0;
}

* {
    box-sizing: border-box;
}


main {
    min-height: calc(100vh - 64px);
    animation: fadeIn 750ms ease-in;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

a {
    color: inherit;
    text-decoration: none;
}
